REACT_APP_AIRTABLE_KEY = keyG3qK2Qik2xIwbv
REACT_APP_AIRTABLE_BASE = appZ2wGD0Qd5I5XsK

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
