.home-image {
  margin-top: 25px;
  border: 3px solid black;
  border-radius: 3%;
}

.home-div {
  background-image: linear-gradient(#001968, white);
  text-align: center;
  border-radius: 3%;
  border: 1px solid midnightblue;
}

p {
  font-size: 1.3em;
  width: 75%;
  padding: 15px 12.5%;
}

hr {
  width: 80%;
  color: black;
}

.intext-link {
  color: #001968;
}

.intext-link:hover {
  color: blue;
}

.italic-me {
  font-style: italic;
}

.home-h1 {
  margin: 3vh auto;
  width: 32%;
  color: azure;
  background-color: rgb(33, 52, 162);
  border: 3px solid rgb(25, 38, 112);
  border-radius: 9999px;
}

.home-h2 {
  margin: 2vh auto;
  width: 20%;
  color: azure;
  background-color: rgb(33, 52, 162);
  border: 3px solid rgb(25, 38, 112);
  border-radius: 9999px;
}
