.home-image {
  margin-top: 25px;
  width: 60vw;
  border: 3px solid black;
  border-radius: 3%;
}

.home-div {
  background-image: linear-gradient(#003b94, white);
  text-align: center;
  border-radius: 3%;
  border: 1px solid midnightblue;
}

p {
  font-size: 1.3em;
  width: 75%;
  padding: 15px 12.5%;
}

hr {
  width: 80%;
  color: black;
}

.intext-link {
  color: #001968;
}

.intext-link:hover {
  color: blue;
}

.italic-me {
  font-style: italic;
}

.home-h1 {
  margin: 3vh auto;
  width: 32%;
  color: azure;
  background-color: rgb(33, 52, 162);
  border: 3px solid rgb(25, 38, 112);
  border-radius: 9999px;
}

.home-h2 {
  margin: 2vh auto;
  width: 20%;
  color: azure;
  background-color: rgb(33, 52, 162);
  border: 3px solid rgb(25, 38, 112);
  border-radius: 9999px;
}

@media only screen and (max-width: 700px) {
  .home-h1 {
    width: 47.5%;
  }
  .home-h2 {
    width: 32.5%;
  }
}

@media only screen and (max-width: 500px) {
  .home-div {
    background-image: linear-gradient(#2e53b1, white);
  }

  .home-h1 {
    width: 60%;
  }
  .home-h2 {
    width: 55%;
  }
}
