.navbar-div {
  display: flex;
  width: 100%;
  background-image: linear-gradient(to right, grey, white);
  border-bottom: 1px solid midnightblue;
  justify-content: space-around;
}

a {
  color: black;
  align-self: center;
}

svg {
  height: 25px;
  width: 25px;
}

.data-link {
  padding-left: 0;
}

.form-link {
  width: 300px;
}

.responses-link {
  margin-left: 0;
  margin-right: 100px;
  padding-left: 25%;
}

.app-title {
  width: 50%;
}
