.navbar-div {
  display: flex;
  width: 100%;
  background-image: linear-gradient(to right, grey, white);
  padding-left: 15px;
  border-bottom: 1px solid midnightblue;
}

a {
  color: black;
  width: 70%;
  align-self: center;
}

h3 {
  display: inline-flex;
  align-content: space-around;
  margin-left: 10%;
}

svg {
  height: 25px;
  width: 25px;
}

.Toastify__toast-container--top-center {
  background-color: black;
}
