.navbar-div {
  display: flex;
  width: 100%;
  background-image: linear-gradient(to right, grey, white);
  padding-left: 15px;
  border-bottom: 1px solid midnightblue;
  justify-content: space-around;
}

a {
  color: black;
  align-self: center;
}

h3 {
  margin-left: 10%;
}

svg {
  height: 25px;
  width: 25px;
}

.data-link {
  padding-left: 100px;
}

.form-link {
  width: 300px;
}

.responses-link {
  margin-left: 0;
}
