.responses-div {
  margin: 0 auto;
}

.responses-container {
  margin: 0 auto;
  padding: 15px 15px;
  max-height: 600px;
  width: 90%;
  height: 85%;
  background-color: darkgrey;
  justify-content: center;
  text-align: center;
  border: 3px groove midnightblue;
  box-shadow: 2px 2px 10px 4px #858585;
  border-radius: 3%;
}

.background-container {
  margin: 0 auto;
  padding-top: 4vh;
  height: 85vh;
  width: 100%;
  background-image: url("https://cdn.pixabay.com/photo/2018/07/08/17/51/network-3524352_1280.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 2000px 1000px;
  border-radius: 5%;
}

.response {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
  background-color: whitesmoke;
  max-height: 85%;
  border-radius: 3%;
  border: 3px solid midnightblue;
  overflow-y: auto;
}

.response-container {
  flex: 1 1 30%;
  height: 100px;
}

.response-h2 {
  width: 90%;
  margin: 10px;
  border: 3px solid midnightblue;
  border-radius: 9999px;
  background-color: rgb(66, 92, 179);
  box-shadow: 4px 6px 14px darkgray;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.response-h2:hover {
  background-color: rgb(74, 104, 205);
  border: 3px solid rgb(0, 77, 172);
}

.card-response-div {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100%;
  margin-left: 5%;
  margin-bottom: 3%;
  background-color: whitesmoke;
  justify-content: center;
  align-items: center;
}

.text-field-title {
  max-width: 100%;
  color: aliceblue;
  text-overflow: ellipsis;
}

.response::-webkit-scrollbar {
  border-radius: 9999px;
}

.response::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-bottom: 2vh;
}

.response::-webkit-scrollbar-track-piece:start {
  background: transparent;
  margin-top: 2vh;
}

.response::-webkit-scrollbar-track {
  background: transparent;
}

.response::-webkit-scrollbar-thumb {
  background-image: linear-gradient(#314a9d, white, #314a9d);
  border-radius: 9999px;
  border-right: none;
  border-left: none;
}

@media only screen and (max-width: 1000px) {
  .background-container {
    background-size: cover;
  }
}
