.responses-div {
  margin: 0 auto;
}

.responses-container {
  margin: 0 auto;
  padding: 15px 15px;
  max-height: 600px;
  width: 90%;
  height: 75%;
  background-color: darksalmon;
  justify-content: center;
  text-align: center;
  border: 3px groove midnightblue;
  border-radius: 3%;
}

.background-container {
  margin: 0 auto;
  padding-top: 4vh;
  height: 95%;
  width: 100%;
  background-image: url("https://cdn.pixabay.com/photo/2018/07/08/17/51/network-3524352_1280.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 1800px 900px;
  border-radius: 5%;
}

.response {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
  background-color: aqua;
  max-height: 85%;
}

.response-container {
  flex: 1 1 30%;
  height: 100px;
}

.response-h2 {
  width: 50%;
  padding-left: 25%;
  padding-top: 5vh;
  border: 3px solid red;
}

.card-response-div {
  width: 90%;
  height: 100%;
  margin-left: 5%;
  margin-bottom: 3%;
  background-color: blue;
  align-content: center;
}
